= simple_form_for @shipment, wrapper: :vertical_form do |f|

  = f.input :hospital_number

  = f.input :objective_code, as: :select, collection: shipment_objective_codes_with_organisms, selected: selected_shipment_objective_code_with_organism(@shipment)

  = f.input :starting_number, label: "Isolate starting number"

  = f.input :isolate_quantity, label: "Isolate quantity to expect"

  = f.button :submit, value: "Save", class: "btn btn-primary"
