= horizontal_form_for @shipment do |f|

  = f.input :hospital_number

  = f.input :objective_code, as: :select, collection: shipment_objective_codes_with_organisms

  = f.input :starting_number, label: "Isolate starting number"

  = f.input :isolate_quantity, label: "Isolate quantity to expect"

  = f.buttons do
    = f.button :submit, value: "Save"
