%h1 Data entry

%h4
  Shipment ID
  = @shipment.id
  = " :: "
  Hospital
  = @shipment.hospital_number
  = " :: "
  Objective
  = @shipment.objective_code

= simple_form_for @shipment, wrapper: :vertical_form do |f|
  %table.table.table-striped.table-hover.table-condensed
    %thead
      %tr
        - if collect_jmi_number?(@shipment)
          %th
            %small
              JMI#
        %th
          %small
            Code#
        %th
          %small
            Accession#
        %th
          %small
            Organism
        %th
          %small
            Date of
            admission
        %th
          %small
            Date of
            %br
            culture
        - if collect_specimen_type?(@shipment)
          %th
            %small
              Specimen
              %br
              type
        - if collect_bloodstream_infection_source?(@shipment)
          %th
            %small
              Source
        %th
          %small
            Sex
        %th
          %small
            Age
        %th
          %small
            Service
        - if collect_primary_diagnosis?(@shipment)
          %th
            %small
              Primary
              %br
              Diagnosis
        %th
          %small
            ICU?
        %th
          %small
            Nosocomial?

    %tbody
      - idx = 0
      = f.simple_fields_for :isolates do |ff|
        %tr{id: "isolate_form_row_#{idx}"}
          - if collect_jmi_number?(@shipment)
            %td= ff.input :jmi_number, label: false, input_html: {maxlength: 100, class: "input-sm"}

          %td= ff.input :code_number, label: false, input_html: {maxlength: 100, class: "input-sm"}

          %td= ff.input :accession_number, label: false, input_html: {maxlength: 100, class: "input-sm"}

          %td= ff.input :organism, label: false, input_html: {maxlength: 100, class: "input-sm"}

          %td= ff.input :date_of_admission, as: :string, label: false, input_html: {maxlength: 100, class: "input-sm"}

          %td= ff.input :date_of_culture, as: :string, label: false, input_html: {maxlength: 100, class: "input-sm"}

          - if collect_specimen_type?(@shipment)
            %td{style: "width: 6em;"}= ff.input :specimen_type, as: :select, collection: specimen_type_options, label: false, input_html: {class: "input-sm"}

          - if collect_bloodstream_infection_source?(@shipment)
            %td{style: "width: 6em;"}= ff.input :source, as: :select, collection: bloodstream_infection_source_options, label: false, input_html: {class: "input-sm"}

          %td{style: "width: 6em;"}= ff.input :sex, as: :select, collection: sex_options, label: false, input_html: {class: "input-sm"}

          %td{style: "width: 6em;"}= ff.input :age, label: false, input_html: {class: "input-sm"}

          %td{style: "width: 6em;"}= ff.input :service, as: :select, collection: service_options, label: false, input_html: {class: "input-sm"}

          - if collect_primary_diagnosis?(@shipment)
            %td{style: "width: 6em;"}= ff.input :primary_diagnosis, as: :select, collection: primary_diagnosis_options, label: false, input_html: {class: "input-sm"}

          %td{style: "width: 6em;"}= ff.input :icu, as: :select, collection: yes_no_options, label: false, input_html: {class: "input-sm"}

          %td{style: "width: 6em;"}= ff.input :nosocomial, as: :select, collection: yes_no_options, label: false, input_html: {class: "input-sm"}
        - idx += 1


  = f.button :submit, value: "Save", class: "btn btn-primary"
