= horizontal_form_for @shipment do |f|
  %table.table.table-striped.table-hover.table-condensed
    %thead
      %tr
        %th
          %small
            JMI#
        %th
          %small
            Code#
        %th
          %small
            Accession#
        %th
          %small
            Organism
        %th
          %small
            Date of
            admission
        %th
          %small
            Date of
            %br
            culture
        %th
          %small
            Source
        %th
          %small
            Sex
        %th
          %small
            Age
        %th
          %small
            Service
        %th
          %small
            Primary
            %br
            Diagnosis
        %th
          %small
            ICU?
        %th
          %small
            Nosocomial?

    %tbody
      - idx = -1
      = f.simple_fields_for :isolates do |ff|
        - idx += 1
        %tr{id: "isolate_form_row_#{idx}"}
          %td= ff.input :jmi_number, label: false, input_html: {maxlength: 100, class: "input-sm"}

          %td= ff.input :code_number, label: false, input_html: {maxlength: 100, class: "input-sm"}

          %td= ff.input :accession_number, label: false, input_html: {maxlength: 100, class: "input-sm"}

          %td= ff.input :organism, label: false, input_html: {maxlength: 100, class: "input-sm"}

          %td= ff.input :date_of_admission, label: false, input_html: {maxlength: 100, class: "input-sm"}

          %td= ff.input :date_of_culture, label: false, input_html: {maxlength: 100, class: "input-sm"}

          %td= ff.input :source, label: false, input_html: {maxlength: 100, class: "input-sm"}

          %td{style: "width: 6em;"}= ff.input :sex, as: :select, collection: sex_options, label: false, input_html: {class: "input-sm"}

          %td{style: "width: 6em;"}= ff.input :age, label: false, input_html: {class: "input-sm"}

          %td= ff.input :service, label: false, input_html: {maxlength: 100, class: "input-sm"}

          %td= ff.input :primary_diagnosis, label: false, input_html: {maxlength: 100, class: "input-sm"}

          %td{style: "width: 6em;"}= ff.input :icu, as: :select, collection: yes_no_true_false_options, label: false, input_html: {class: "input-sm"}

          %td{style: "width: 6em;"}= ff.input :nosocomial, as: :select, collection: yes_no_true_false_options, label: false, input_html: {class: "input-sm"}


  = f.buttons do
    = f.button :submit, value: "Save"
