!!! 5
%html{lang: "en"}
  %head
    %meta{content: "IE=edge", "http-equiv": "X-UA-Compatible"}
    %title Isolator
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container

      - flash.each do |message_type, message|
        .row
          .col-xs-12
            .flash.flash-message{class: [message_type, bootstrap_class_for_flash_type(message_type)]}
              = message

      = yield
