!!! 5
%html{lang: "en"}
  %head
    %meta{content: "IE=edge", "http-equiv": "X-UA-Compatible"}
    %title Isolator
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    .container
      %nav.navbar.navbar-default.navbar-inverse.navbar-fixed-top
        .container-fluid
          .navbar-header
            %a.navbar-brand{href: "/"}
              = image_tag "jmi-navbar-logo.png", alt: "JMI logo", class: "navbar-logo"

      = render partial: "layouts/flash_messages"
      = yield
